* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Para Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

html,
body {
    height: 100%;
    background-color: #f8f9fa;
    color: #202424;
}


/* Encabezado */
header {
    background-color: #ffffff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo-container {
    width: 200px;
  transition: 0.3s;
}
/*--------------------------------*/


/*Botón del lado superior derecho */
.menu-btn,
.profile-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #202424;
}

.profile-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0b3651;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*------------------------------*/

/* LOS ICONOS DE LAS ITEMS DE DENTRO */
 .text-primary {
      color: #0b3651 !important;
    }
/* --------------------------------------------------*/

#sidebar {
    overflow-y: auto; /* Habilita scroll solo en el sidebar */
    max-height: 100vh; /* Limita altura para activar scroll */
}
.sidebar {
    width: 250px;
    background-color: #202424;
    color: white;
    height: 100%;
    position: fixed;
    top: 60px;
    left: -32px;
    padding: 20px 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-menu li.active {
    background-color: #0b3651;
}

.sidebar-menu li i {
    margin-right: 10px;
}

.sidebar-menu li a {
    display: block;
    padding: 20px 25px; /* pasa el padding aquí */
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.sidebar-menu .salir {
  background-color: #202424;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}
.sidebar-menu a {
  color: white;
  text-decoration: none;
}


/* Botón Cerrar sesión */
.sidebar-menu .salir i {
  color: white;

}

.sidebar-menu .salir:hover {
  background-color: #902013; 
  cursor: pointer;
}
/*-----------------------------*/


.main-content {
    flex: 1;
    padding: 20px;
    margin-top: 70px;
    transition: transform 0.3s ease;
}

.main-content.sidebar-open {
    margin-left: 0;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
}

.welcome {
    text-align: center;
    margin-top: 10px;
}

.logout-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0b3651;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
.menu_subrayado{
  text-decoration: none; 
}

/*Estilos de las tablas 03-06-2025*/
.contenedor-scroll {
  overflow-x: auto;
  margin: 20px;
  max-width: calc(100% - 40px);
}

.tabla-profesional {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;  
}

.tabla-profesional thead {
  background-color: #0b3651;
  color: white;
}


.tabla-profesional th,
.tabla-profesional td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;  /* Línea divisoria entre columnas */
}

.tabla-profesional tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.tabla-profesional tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}


/*Estilo de la sección Incribete hoy*/
.main-content > .hero:first-child {
  margin-top: -20px;    
  margin-left: -20px;  
  margin-right: -20px;  
  width: calc(100% + 40px); 
}

.hero {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(0.6);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/*Mensaje de bienvenido al sistema*/
#bienvenida {
  position: fixed;
  top: 80px;
  right: 30%;
  left: 30%;
  min-width: 250px;
  z-index: 1050;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0.5rem;

  background-color: #0b3651;
  color: white;
  border: 1px solid #0b3651;

  transition: opacity 0.5s ease;
}

/*Agregar empleados boton*/
.fab-agregar{
  position: fixed;
  bottom: 30px;
  z-index: 9999;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-agregar {
  right: 30px;
  background-color: #28a745; /* Verde Bootstrap */
  color: white;
  border-color: #28a745;
}

.fab-eliminar {
  position: fixed; /* Posicionamiento flotante */
  top: 450px;        /* Separación desde la parte superior */
  right: 30px;     
  background-color: #dc3545;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Para que quede por encima */
}

/*------------------------------------------------------*/
.table-dark th {
  background-color: #0b3651 !important;
  color: white !important;
}

.fab-modificar {
  position: fixed; /* Posicionamiento flotante */
  top: 360px;        /* Separación desde la parte superior */
  right: 30px;     
  background-color: #ff5722;
  color: white;
  border-radius: 50%;
  border-color: #ff5722;
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Para que quede por encima */
}

/* Hover: cambia color de fondo y borde */
.fab-modificar.btn.btn-success:hover {
  background-color: #e64d1e !important;
  border-color: #e64d1e !important;
}

/* Active clic*/
.fab-modificar.btn.btn-success:active {
  background-color: #c74319 !important;
  border-color: #c74319 !important;
  box-shadow: inset 0 3px 8px rgba(255, 140, 0, 0.6) !important;
}

.bg-warning{
   background-color: #0b3651 !important;
   color: white;
   
}

.modal-title{
  text-align: center!important;
}

/* BOTONES DE GUARGAR Y CANCELAR DE LOS FORMS */
.btn-tertiary {
  background-color: #1e1e1e !important; 
  border-color: #1e1e1e !important;
  color:white;
}

.btn-tertiary:hover {
  background-color: #0b3651 !important;;
  border-color: #0b3651 !important;;
  color:white !important;;
}

.btn-warning {
  background-color: #1e1e1e !important; 
  border-color: #1e1e1e  !important;
  color:white;
  
}

.btn-warning:hover {
  background-color: #8e1404 !important;
  border-color: #8e1404 !important;
  color:white;
}
/* ---------------------------------------------------------*/

/*X blanca de los registros*/
.btn-close {
  filter: invert(100%);
}

/*Busqueda de tabla*/
#busquedaTabla {
  width: 300px;
  margin-left: 5px;
}

#encabezado{
  background-color: #0b3651 !important;;
}
/*-------------REPORTE-------------------------------*/

/* BOTÓN FILTAR DE REPORTE */
.btn-secondary {
  background-color: #0b3651;
  border-color: #0b3651;
}

 .btn-secondary:hover {
  background-color: #0b3651;
  border-color: #0b3651;
}
/* ENCABEZADOS DE LAS GRÁFICAS */
.encabezado-custom {
  background-color: #0b3651; /* Azul oscuro personalizado */
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-bottom: 2px solid #063144;
}

/* FONDO DE LAS GRÁFICAS */
.chart-container {
      position: relative;
      height: 300px;
      margin-bottom: 20px;
    }
/* --------------------------------------------------------------------------------------------------------------------*/
/*TEMA OSCURO*/
body.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

.dark-mode .welcome {
    text-align: center;
    margin-top: 10px;
    color: white;
}

.dark-mode .tabla-profesional {
  background-color: #1e1e1e;
  color: #f5f5f5;
}

/*---------------------------*/
    /* Modo oscuro general */
    body.dark-mode {
      background-color: #121212;
      color: #e0e0e0;
    }
 
    body.dark-mode main.main-content {
      background-color: #1e1e1e;
    }

    body.dark-mode .alert-success {
      background-color: #2e7d32;
      color: #c8f7c5;
      border-color: #1b4d1b;
    }

    body.dark-mode .btn-close {
      filter: invert(1);
    }

    body.dark-mode section.bg-light {
      background-color: #1e1e1e !important;
      color: #fbf6f6 !important;
    }

    body.dark-mode .service-card {
      background-color: #1e1e1e;
      color: #fbf6f6;
      border: 1px solid #1e1e1e;
    }

   body.dark-mode .text-primary {
      color: #f7f9fa !important;
    }

    body.dark-mode footer {
      background-color: #1a1a1a;
      color: #fbf6f6;
    }

    body.dark-mode form {
  background-color: #1e1e1e; /* fondo negro */
  padding: 1rem;             /* opcional, para separar contenido del borde */
  border-radius: 5px;        /* opcional, para bordes redondeados */
}

/* APARTADO REPORTE */

body.dark-mode th {
  background-color: #2a2a2a !important;
  color: #ffffff !important;
  border-color: #444 !important;
}
body.dark-mode td {
  background-color: #2a2a2a !important;
  color: #ffffff !important;
  border-color: #444 !important;
}

body.dark-mode .card-header {
  background-color: #2a2a2a;
  color: #ffffff;
  border-bottom: 1px solid #444;
}
body.dark-mode .card,
body.dark-mode .form-control {
  background-color: #1e1e1e;
  color: #fff !important;
  border-color: #fff !important; /* borde blanco */
}

body.dark-mode .card *,
body.dark-mode .form-control * {
  color: #fff !important;
}

/* Placeholder en modo oscuro */
body.dark-mode .form-control::placeholder,
body.dark-mode .card ::placeholder {
  color: #fff !important;
  opacity: 1 !important;
}

/* Compatibilidad con navegadores */
body.dark-mode .form-control::-webkit-input-placeholder,
body.dark-mode .card ::-webkit-input-placeholder {
  color: #fff !important;
  opacity: 1 !important;
}

body.dark-mode .form-control:-moz-placeholder,
body.dark-mode .card :-moz-placeholder {
  color: #fff !important;
  opacity: 1 !important;
}

body.dark-mode .form-control::-moz-placeholder,
body.dark-mode .card ::-moz-placeholder {
  color: #fff !important;
  opacity: 1 !important;
}

body.dark-mode .form-control:-ms-input-placeholder,
body.dark-mode .card :-ms-input-placeholder {
  color: #fff !important;
  opacity: 1 !important;
}

body.dark-mode .form-select {
  background-color: #1e1e1e !important; 
  color: #fff !important;            /* texto blanco */
  opacity: 1 !important;
}

/* ----------Sistema de ayuda---------*/
body.dark-mode .accordion-item{
  background-color: #1e1e1e !important; 
  color: #fff !important;            /* texto blanco */
  opacity: 1 !important;
}

body.dark-mode .accordion-button {
  background-color: #1e1e1e !important; 
  color: #fff !important;            /* texto blanco */
  opacity: 1 !important;
}

/* Flecha (cuando está cerrada) */
body.dark-mode .accordion-button::after {
  filter: invert(1); /* invierte colores → la flecha se hace blanca */
}

/* Flecha (cuando está abierta) */
body.dark-mode .accordion-button:not(.collapsed)::after {
  filter: invert(1); /* mantiene blanca también al expandir */
}
/*------------------------------------------*/
    :root {
  /* Modo claro */
  --menu-btn-color: rgb(17, 16, 16);
  --menu-btn-bg: transparent;
}

body.dark-mode {
  /* Modo oscuro */
  --menu-btn-color: #f4eaea; 
  --menu-btn-bg: transparent;
}

.menu-btn {
  color: var(--menu-btn-color);
  background-color: var(--menu-btn-bg);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-btn i {
  color: var(--menu-btn-color);
}

/*-------------------------CAMBIAR TEMA EN MENÚ-------------------------------------------------*/
  /* Submenú ajustes */
  .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
  }

  .ajustes-submenu:hover .submenu {
    display: block;
  }

  /* Modo oscuro */
  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }

  body.dark-mode header,
  body.dark-mode aside {
    background-color: #1a1a1a;
  }

  body.dark-mode a {
    color: #fbf6f6;
  }

  .sidebar a {
    text-decoration: none;
  }



